extends layout

block content
	h1 Welcome

	a(href="/add") Add New

	table.ui.celled.striped.table
		thead
			tr
				th Name
				th Description
				th Actions
		tbody
			for item in data
				tr
					td
						a(href="/edit/#{item._id}") #{item.name}
					td.
						#{item.desc}
					td
						a(href="/delete/#{item._id}") Delete
			else
				tr
					td(colspan="3")
						| No items